<!DOCTYPE html>
<html lang=en>

<head>

  <meta charset=utf-8>
  <title>DLx | Developer</title>
  <meta name=publisher content='Digital Linguistics'>
  <meta name=author content='Daniel W. Hieber'>
  <meta name=description content='The Digital Linguistics (DLx) website.'>
  <meta name=keywords content='Digital Linguistics, DLx, linguistics, language documentation, University of California Santa Barbara, UCSB'>
  <meta name=viewport content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

  <link rel='shortcut icon' href={{cdn}}/img/favicon.ico type=image/x-icon>
  <link rel=stylesheet href=/css/fonts.css type=text/css charset=utf-8>
  <link rel=stylesheet href=/css/reset.css type=text/css charset=utf-8>
  <link rel=stylesheet href=/css/main.css type=text/css charset=utf-8>

  {{{sections.style}}}

</head>

<body>

  <header id=header>

    <a href={{baseUrl}}/>
      <div id=banner>
        <img id=logo src={{cdn}}/img/tunnel_black.svg alt='DLx logo'>
        <h1>Digital Linguistics</h1>
      </div>
    </a>

    <nav>

      <ul>
        <li><a href=/>Developer Home</a></li>
        <li><a href=http://blog.digitallinguistics.org/tag/developers>Developer Blog</a></li>
        <li><a href=/spec>Data Format</a></li>
        <li><a href=/api>API</a></li>
        <li><a href=/app>App</a></li>
        <li><a href=/tools>Tools &amp; SDKs</a></li>
        <li><a href=/code>Code</a></li>
        <li><a href=/apps>My Apps</a></li>
      </ul>

      {{#if user}}
        <div>
          <a href=/account>{{user.firstName}}</a>
          <a href=/?logout=true>(Logout)</a>
        </div>
      {{else}}
        <div><a href=/login>Sign In / Register</a></div>
      {{/if}}

    </nav>

  </header>

  {{{body}}}

  <script src=/js/main.js type=text/javascript charset=utf-8></script>
  {{{sections.script}}}

</body>

</html>
