<!DOCTYPE html>
<html lang=en>

  <head>

    <meta charset=utf-8>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>
    <meta name=publisher content='Digital Linguistics'>
    <meta name=author content='{{meta.author.name}}'>
    <meta name=description content='{{meta.description}}'>
    <meta name=keywords content='{{#each meta.keywords}}{{this}}, {{/each}}'>
    <meta name=viewport content='width=device-width, initial-scale=1'>

    <link href={{cdn}}/img/wugbot.ico rel='shortcut icon' type=image/x-icon>
    <link href=/css/main.css rel=stylesheet>

    {{{sections.style}}}

  </head>

  <body>

    <a href=https://digitallinguistics.io/>
      <header class=banner>

        <img class=wugbot src={{cdn}}/img/wugbot.svg alt='DLx wugbot logo'>

        <div>
          <h1>Digital Linguistics (DLx)</h1>
          <p>The science of the digital storage, representation, manipulation, and dissemination of linguistic data</p>
        </div>

        <img class=wug src={{cdn}}/img/wug.svg alt='DLx wug logo'>

      </header>
    </a>

    <nav class=nav>
      <ul>
        <li><a href=/>Home</a></li>
        <li><a href=/about>About</a></li>
        <li><a href=http://blog.digitallinguistics.io/tag/general/>Blog</a></li>
        <li><a href=https://app.digitallinguistics.io/>App</a></li>
        <li><a href=https://tools.digitallinguistics.io/>Tools</a></li>
        <li><a href=http://developer.digitallinguistics.io/>Developers</a></li>
      </ul>
    </nav>

    {{{body}}}

    <footer>

      <a href=https://github.com/digitallinguistics target=_blank rel='noopener noreferrer'>
        <img src={{cdn}}/img/octicon.white.svg alt='GitHub octicon logo'>
      </a>

      <p><a href=https://github.com/digitallinguistics>View Digital Linguistics on GitHub</a></p>

    </footer>

    {{{sections.script}}}

  </body>

</html>
