<!DOCTYPE html>
<html lang=en>
<head>

  <meta charset=utf-8>
  <title>DLx</title>
  <meta name=publisher content='Digital Linguistics'>
  <meta name=author content='Daniel W. Hieber'>
  <meta name=description content='The Digital Linguistics (DLx) website.'>
  <meta name=keywords content='Digital Linguistics, DLx, linguistics, language documentation, University of California Santa Barbara, UCSB'>

  <link rel=stylesheet href=/css/reset.css type=text/css charset=utf-8>
  <link rel=stylesheet href=/css/main.css type=text/css charset=utf-8>

  {{{sections.style}}}

</head>

<body>

  <header id=header>

    <a href=/>
      <div id=banner>
        <img id=logo src=/img/tunnel_black.svg alt='DLx logo'>
        <h1>Digital Linguistics</h1>
      </div>
    </a>

    <nav id=nav>
      <img id=menuButton src=/img/menu.svg alt='open/close menu'>
      <ul>
        <li><a href=/>Home</a></li>
        <li><a href=/account>Account</a></li>
      </ul>
      <div id=userName>
        {{#if user}}
          <a href=/account>{{user.firstName}}</a>
          <small><a href=/?logout=true>(Logout)</a></small>
        {{else}}
          <a href=/login>Login/Register</a>
        {{/if}}
      </div>
    </nav>

  </header>

  {{{body}}}

  <footer id=footer>
    <a id=github href=https://github.com/digitallinguistics/dlx-org>
      <div>
        <img src=/img/github_blue.svg alt='see this project on GitHub'>
        <p>View DLx on GitHub</p>
      </div>
    </a>
  </footer>

  <script src=/js/utils.js type=text/javascript charset=utf-8></script>
  <script src=/js/main.js type=text/javascript charset=utf-8></script>
  {{{sections.script}}}

</body>
</html>
