{{#section 'style'}}<link rel=stylesheet href=/css/account.css charset=utf-8>{{/section}}

<main id=account>

  <h1>Your Account</h1>

  <form action=/account method=POST>

    <input type=hidden name=state value={{state}}>

    <label for=firstName>
      <p>First Name (Given Name)</p>
      <input type=text name=firstName value='{{user.firstName}}' required>
    </label>

    <label for=lastName>
      <p>Last Name (Family Name)</p>
      <input type=text name=lastName value='{{user.lastName}}' required>
    </label>

    <label for=affiliation>
      <p>Affiliation</p>
      <input type=text name=affiliation value='{{user.affiliation}}'>
    </label>

    <label for=email>
      <p>Email</p>
      <input type=email name=email value={{user.id}} required disabled>
    </label>

    <div id=buttons>
      <button id=deleteAccountButton type=button name=deleteAccountButton tabindex=-1>Delete Account</button>
      <button id=updateInfoButton type=submit name=updateInfoButton disabled>Update Information</button>
    </div>

  </form>

</main>

{{#section 'script'}}
<script>

var deleteAccount = function (ev) {
  ev.preventDefault();
  var warning = confirm('WARNING: If you delete your account, any resources that you are the sole Owner of will be deleted. This CANNOT be undone. If you wish to proceed, it is strongly recommended that you back up your data first. Press Cancel to stop the deletion. Press OK to go on to the next step (you will have one more chance to cancel).');
  if (warning) {
    var response = prompt('If you are certain you wish to delete your account, type "DELETE" in the box below.');
  }
  if (response === 'DELETE') {

    var init = {
      credentials: 'same-origin',
      method: 'DELETE'
    };

    fetch('/account', init)
    .then(res => {
      if (res.status === 204) { window.location.href = '/?logout=true'; }
      else { alert('There was a problem deleting your account.'); }
    }).catch(err => alert('There was a problem deleting your account.'));

  }
};

var enableButton = function (ev) {
  if (ev.target.tagName === 'INPUT') { document.getElementById('updateInfoButton').disabled = false; }
  window.removeEventListener('input', enableButton);
};

document.getElementById('deleteAccountButton').addEventListener('click', deleteAccount);
window.addEventListener('input', enableButton);

</script>
{{/section}}
