{{#section 'style'}}
  <link rel=stylesheet href=/css/home.css>
{{/section}}

<main id=home>

  <div class=cards>

    <section id=about class=card>
      <a href=/about>
        <h2 class=minor-header>About DLx</h2>
        <img src={{cdn}}/img/info.blue.svg alt='information icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
        <p>Learn about the science of Digital Linguistics, and how to apply DLx techniques in your own language documentation work. Read publications about DLx.</p>
      </a>
    </section>

    <section id=blog class=card>
      <a href=http://blog.digitallinguistics.io/tag/general/>
        <h2 class=minor-header>The DLx Blog</h2>
        <img src={{cdn}}/img/blog.blue.svg alt='blog icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
        <p>Keep up to date with the latest DLx tools and features. Subscribe to new posts. Get notified of upcoming events.</p>
      </a>
    </section>

    <section id=app class=card>
      <a href=https://app.digitallinguistics.io/>
        <h2 class=minor-header>The DLx App</h2>
        <img src={{cdn}}/img/box.blue.svg alt='DLx app logo'>
        <p>Enter, search, and manage your linguistic data and media. Work with texts, lexicons, and media files all in one place. Contribute to the DLx crosslinguistic database.</p>
      </a>
    </section>

    <section id=tools class=card>
      <a href=https://tools.digitallinguistics.io/>
        <h2 class=minor-header>Tools</h2>
        <img src={{cdn}}/img/tools.blue.svg alt='tools icon'>
        <p>Accomplish specific linguistic tasks using the variety of tools made available by DLx.</p>
      </a>
    </section>

    <section id=slack class=card>
      <a href=https://slack.digitallinguistics.io/>
      <h2 class=minor-header>Slack</h2>
      <img src={{cdn}}/img/slack.svg alt='Slack logo' style='height: 5rem; margin: -0.25rem; width: 5rem; min-height: 5rem; min-width: 5rem;'>
      <p>Join the conversation on Slack. Ask about DLx tools and talk to other members of the DLx community.</p>
      </a>
    </section>

    <section id=dev class=card>
      <a href=http://developer.digitallinguistics.io/>
        <h2 class=minor-header>Developers</h2>
        <img src={{cdn}}/img/computer.blue.svg alt='computer icon' style='height: 2.5rem; width: 2.5rem; margin: 1rem; min-height: 2.5rem; min-width: 2.5rem;'>
        <p>Want to contribute to DLx? Read the documentation on each of the different DLx projects. Check out our open source code.</p>
      </a>
    </section>

    {{!-- <section>
      <a href=https://data.digitallinguistics.io/>
        <h2 class=minor-header>Data Explorer</h2>
        <img src={{cdn}}/img/browse.blue.svg alt='DLx data explorer logo'>
        <p>Browse public data in the DLx crosslinguistic database. Search for typological patterns. Collect statistics on language data.</p>
      </a>
    </section> --}}

    <a class="twitter-timeline" data-theme="light" href="https://twitter.com/digitalling">Tweets by digitalling</a>

  </div>

</main>

{{#section 'script'}}
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{{/section}}
