<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- Essential Metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>

    {{!-- Non-Essential Metadata --}}
    <meta name=apple-mobile-web-app-title content=DLx>
    <meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
    <meta name=author content='{{meta.author.name}}'>
    <meta name=description content='{{meta.description}}'>
    <meta name=generator content=Atom>
    <meta name=keywords content='{{#each meta.keywords}}{{#unless @last}}{{this}}, {{else}}{{this}}{{/unless}}{{/each}}'>
    <meta name=publisher content='Digital Linguistics'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Digital Linguistics'>
    <meta name=theme-color content=#0F89FF>

    {{!-- Linked Assets --}}
    <link rel=apple-touch-icon href='{{cdn}}/img/tunnel_256x256.png'>
    <link rel=apple-touch-startup-image hre='{{cdn}}/img/wug.png'>
    <link rel=me href=https://danielhieber.com type=text/html>
    <link rel='shortcut icon' href='{{cdn}}/img/wugbot.ico' type=image/x-icon>

    {{!-- Stylesheets --}}
    <link rel=stylesheet href=/css/main.css>

    {{!-- Head Content for Specific Pages --}}
    {{#block 'head'}}{{/block}}

  </head>

  <body>

    {{> skip-link/skip-link}}
    {{> banner/banner}}
    {{> nav/nav}}
    {{{body}}}
    {{> footer/footer}}

    {{!-- SVG Images for Main Layout --}}
    {{{svg.octicon-white}}}
    {{{svg.wug}}}
    {{{svg.wugbot}}}

    {{!-- SVG Images for Specific Pages --}}
    {{#block 'svg'}}{{/block}}

    {{!-- Scripts for Specific Pages --}}
    {{#block 'script'}}{{/block}}

  </body>

</html>
