<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- Essential Metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>

    {{!-- Metadata --}}
    <meta name=author content='{{meta.author.name}}'>
    <meta name=description content='{{meta.description}}'>
    <meta name=generator content=Atom>
    <meta name=keywords content='{{#each meta.keywords}}{{#unless @last}}{{this}}, {{else}}{{this}}{{/unless}}{{/each}}'>
    <meta name=publisher content='Digital Linguistics'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Digital Linguistics'>

    {{!-- Linked Assets --}}
    <link href=https://danielhieber.com rel=me type=text/html>
    <link href='{{cdn}}/img/wugbot.ico' rel='shortcut icon' type=image/x-icon>
    <link href=/css/main.css rel=stylesheet>

    {{!-- Page-Specific Head Content --}}
    {{#block 'head'}}{{/block}}

  </head>

  <body>

    <header>

      <img src='{{cdn}}/img/wugbot.svg' alt='DLx wugbot logo'>

      <div>
        <h1><a href=https://digitallinguistics.io/>Digital Linguistics (DLx)</a></h1>
        <p>The science of digital data management for linguistics</p>
      </div>

      <img src='{{cdn}}/img/wug.svg' alt='DLx wug logo'>

    </header>

    <nav>
      <ul>
        <li><a href=https://digitallinguistics.io/>Home</a></li>
        <li><a href=https://medium.com/digital-linguistics>Blog</a></li>
        <li><a href=https://developer.digitallinguistics.io>Developers</a></li>
      </ul>
    </nav>

    {{{body}}}

    <footer>

      <a href=https://github.com/digitallinguistics rel=noopener>
        <img src='{{cdn}}/img/octicon.white.svg' alt='GitHub octicon logo'>
      </a>

      <p><a href=https://github.com/digitallinguistics>View Digital Linguistics on GitHub</a></p>

    </footer>

  </body>

</html>
