<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- Essential Metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>

    {{!-- Metadata --}}
    <meta name=author content='{{meta.author.name}}'>
    <meta name=description content='{{meta.description}}'>
    <meta name=generator content=Atom>
    <meta name=keywords content='{{#each meta.keywords}}{{#unless @last}}{{this}}, {{else}}{{this}}{{/unless}}{{/each}}'>
    <meta name=publisher content='Digital Linguistics'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Digital Linguistics'>

    {{!-- Linked Assets --}}
    <link href=https://danielhieber.com rel=me type=text/html>
    <link href='{{cdn}}/img/wugbot.ico' rel='shortcut icon' type=image/x-icon>

    {{!-- Page-Specific Head Content --}}
    {{#block 'head'}}{{/block}}

  </head>

  <body>

    <header>

      <img src='{{cdn}}/img/wugbot.svg' alt='DLx wugbot logo'>

      <div>
        <h1>Digital Linguistics (DLx)</h1>
        <p>The science of digital data management for linguistics</p>
      </div>

      <img src='{{cdn}}/img/wug.svg' alt='DLx wug logo'>

    </header>

    {{{body}}}

  </body>

</html>
