{{#section 'style'}}
  <link rel=stylesheet type=text/css href=/css/apps.css charset=utf-8>
{{/section}}

<main id=apps>

  <section id=app-list>

    <h1>My Apps</h1>

    <table>

      <thead>
        <tr><td>Application Name</td><td>Application Id</td></tr>
      </thead>

      <tbody>
        {{#each apps}}
          <tr data-id={{id}}>
            <td>{{name}}</td>
            <td>{{id}}</td>
          </tr>
        {{/each}}
      </tbody>

    </table>

  </section>

  <section id=details>
    {{#each apps}}
      <div id={{id}}>

        <h1>Details</h1>

        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>App ID:</strong> {{id}}</p>
        <p><strong>App Secret:</strong> {{secret}}</p>

        <p><strong>Permissions</strong></p>
        {{!-- Add a Remove Permission button after each permission --}}
        {{!-- The buttons should be connected to an empty, hidden form somewhere on the page --}}
        <ul>
          {{#each permissions.owner}}<li>{{this}} (Owner)</li>{{/each}}
          {{#each permissions.contributor}}<li>{{this}} (Contributor/Editor)</li>{{/each}}
          {{#each permissions.viewer}}<li>{{this}} (Viewer/User)</li>{{/each}}
        </ul>
        <p><strong>Public:</strong> {{permissions.public}}</p>

        {{!-- Add a small form for adding permissions here --}}
        {{!-- Include just an email field, a permission type dropdown, and an Add Permission button --}}

        <p><strong>Redirects:</strong></p>
        <ul>
          {{#each redirects}}<li>{{this}}</li>{{/each}}
        </ul>

        {{!-- Add a small form for adding redirects here --}}
        {{!-- Just include a URL field, and an Add Redirect button --}}

        <p><strong>Permitted Scopes:</strong></p>
        <ul>
          <li><strong>db:</strong> {{permissions.db}}</li>
          <li><strong>offline:</strong> {{permissions.offline}}</li>
          <li><strong>profile:</strong> {{permissions.profile}}</li>
          <li><strong>public:</strong> {{permissions.public}}</li>
          <li><strong>user:</strong> {{permissions.user}}</li>
        </ul>

      </div>
    {{/each}}
  </section>

  <section id=registration>

    <h1>Register a New App</h1>

    <form action=/apps method=POST>

      <label for=appName>
        <h2>Application Name:</h2>
        <p>The name of your application. Does not need to be unique.</p>
        <input type=text name=appName>
      </label>

      <label for=redirect>
        <h2>Redirect URL:</h2>
        <p>A URL that the DLx API will redirect to along with an access token once authentication is complete. The URL should be capable of extracting the access token from either the URL hash <code>#</code> or the response body, depending on your authentication strategy. You may register additional redirect URLs later.</p>
        <input type=url name=redirect>
      </label>

      <label for=confidential>
        <h2>Confidential Application?</h2>
        <p>If your application is capable of making secure requests from a server, check this box. This will give your application increased levels of access to the database, such as the ability to retrieve a user's resources when they are offline. To protect users' data, do not check this box if your application is a client-side or browser-only app.</p>
        <input type=checkbox name=confidential>
      </label>

      <button type=submit name=register>Register Application</button>

    </form>

  </section>

</main>
