<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- Essential Metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1'>
    <title>{{#if title}}{{title}} | {{/if}}DLx</title>

    {{!-- Non-Essential Metadata --}}
    <meta name=author content='Daniel W. Hieber'>
    <meta name=description content='The Digital Linguistics (DLx) website'>
    <meta name=keywords content='digital linguistics, DLx, linguistics, digital humanities'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>
    <meta name=subject content='Digital Linguistics'>
    <meta name=theme-color content=#007AE6>

    {{!-- Linked Assets --}}
    <link rel=apple-touch-icon href=img/tunnel_256x256.png>
    <link rel=apple-touch-startup-image href=img/wug.png>
    <link rel=me href=https://danielhieber.com type=text/html>
    <link rel='shortcut icon' href=favicon.ico type=image/x-icon>

    {{!-- Head Content for Specific Pages --}}
    {{#block 'head'}}{{/block}}

  </head>

  <body>

    <a href=#{{pageName}} class=skip-link>Skip to main content</a>

    <header class=banner>

      <svg id=wugbot-banner class=wugbot aria-labelledby=title-wugbot-banner height=190px width=129px>
        <title id=title-wugbot-banner>DLx wugbot logo</title>
        <use href=#svg-wugbot xlink:href=#svg-wugbot></use>
      </svg>

      <div class=titles>
        <h1 class=page-title><a href=https://digitallinguistics.io/>Digital Linguistics (DLx)</a></h1>
        <p class=subtitle>The science of digital data management for linguistics</p>
      </div>

      <svg class=wug aria-labelledby=title-wug-banner height=187px width=115px>
        <title id=title-wug-banner>DLx wug logo</title>
        <use href=#svg-wug xlink:href=#svg-wug></use>
      </svg>

    </header>

    {{{page}}}

    {{!-- SVG Images for Main Layout --}}
    {{{svg.octicon-white}}}
    {{{svg.wug}}}
    {{{svg.wugbot}}}

    {{!-- SVG Images for Specific Pages --}}
    {{#block 'svg'}}{{/block}}

    {{!-- Scripts for Specific Pages --}}
    {{#block 'script'}}{{/block}}

  </body>

</html>
